.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.main h1 {
  font-size: 6rem;
  font-weight: bold;
}

.heart {
  fill: red;
  height: auto;
  flex-shrink: 0;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
}

